
# ACCESS

AuthType Basic
AuthName "wtp dump: admin only"
#AuthUserFile /srv/www/vhosts/kunden.xxx/htdocs/bbb/DUMP/.htpasswd
#AuthUserFile /kunden/aaa/bbb/DUMP/.htpasswd
#AuthUserFile "/var/www/htdocs/DUMP/.htpasswd"
AuthUserFile "D:\WORK\___projects\WTP3\DUMP\.htpasswd"
#Require valid-user
Require user dump
